<!DOCTYPE html>
<html>

<head>
    <title>Log in</title>
    <link rel='stylesheet' href='/stylesheets/signuplogin.css' />
</head>

<body>
    <h1>LOGIN</h1>

    <% if (messages.error && messages.error.length> 0) { %>
        <p>Error: <%= messages.error[0] %>
        </p>
        <% } %>
            <form action="/login" method="POST">
                <label for="username">Username</label>
                <input id="username" name="username" placeholder="Type your username"
                    value="<%= typeof username !== 'undefined' ? username : '' %>" />
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Type your password" />
                <button type="submit">Log in</button>
            </form>
            <p>Don't have an accocunt? <a href="/signup">Sign up here</a></p>

</body>

</html>