<link rel='stylesheet' href='/stylesheets/style.css' />
<nav>
    <div class="left">
        <h1
        onclick="goHome()"
        >File Uploader</h1>
    </div>
    <div class="right">
        <button onclick="logout()">Logout</button>
    </div>
    <script>
        function goHome() { 
            window.location.href = '/';
        }
        function logout() { 
            window.location.href = '/logout';
        }
    </script>
</nav>