<link rel='stylesheet' href='/stylesheets/style.css' />
<nav>
    <div class="left">
        <h1>File Uploader</h1>
    </div>
    <div class="right">
        <p>Name</p>
        <button onclick="logout()">Logout</button>
    </div>
    <script>
        function logout() { 
            window.location.href = '/logout';
        }
    </script>
</nav>